{% extends "layouts/main.html" %}

{% block pageTitle %}
Have you been verifed?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorVerified%}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorVerified %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="verified-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you already verified your identity for Companies House?
            </h1>
             <!--<div id="verified-hint" class="govuk-hint">
              If you have already verified your identity, we will have 
              sent you a Companies House personal code by email or post.
            </div>-->
          </legend>
          <!-- Check for error -->
          {% if errorVerified %}
          <p id="verified-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you verified your identity with Companies House before
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified" name="verified" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="verified">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified-2" name="verified" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="verified-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How do I know if I’ve verified my identity?
          </span>
        </summary>
        <div class="govuk-details__text">
 If you've already verified, you'll have a Companies House personal code. You'll be able to see your code in the 'Manage account' section when you sign in to your Companies House account.
        </div>
        <div class="govuk-details__text">
          If you verified with a Companies House authorised agent, we'll have sent your personal code to you by email or letter.
                 </div>
      </details>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}