{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/account-banner.html" %}
{% include "/includes/back-link.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-l">Now sign in with the email address you used when you verified your identity </h1>

        <p class="govuk-body">You’ve signed in with <b>{{ data['signin-email'] }}</b>. 
          However, this is not the email address you provided when you verified your identity.</p>
        
        <p class="govuk-body">On the next screen, you need to sign in to your 
          GOV.UK One Login with the email address you provided when you 
          verified. This is so that we can connect <b>{{ data['signin-email'] }}</b> to your verified 
          identity.</p>

        <!-- <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">I verified with a Companies House authorised agent</span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">If you verified your identity with an authorised agent, 
              such as an accountant or solicitor, check that you are signing in with the 
              same email address they gave us. </p>
    
            <p class="govuk-body">If your agent didn’t give us your email address, you 
              will need to create a GOV.UK One Login for Companies House.</p>
        </details> -->
      
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
