{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your one login email
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorUvid %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorUvid %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="uvid">
              Enter your Companies House personal code
            </label>
          </h1>
            <!-- Check for error -->
          {% if errorUvid %}
            <p id="uvid-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter your Companies House personal code
            </p>
          {% endif %} 
            <input class="govuk-input govuk-input--width-20" id="uvid" name="uvid" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Where to find your personal code
            </span>
          </summary>
          <div class="govuk-details__text">
            You'll be able to see your code in the 'Manage account' section when you sign in to your Companies House account.
                   </div>
                   <div class="govuk-details__text">
                     If you're a Companies House authorised agent, we'll have also sent your personal code to you by email or letter.
                            </div>
        </details>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
