{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your one login email
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorUvid %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorUvid %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="uvid">
              What is your Companies House personal code?
            </label>
          </h1>
        </legend>
        <div id="passport-issued-hint" class="govuk-hint">
         The code is 11 characters long. 
        </div>
            <!-- Check for error -->
          {% if errorUvid %}
            <p id="uvid-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter your Companies House personal code
            </p>
          {% endif %} 
            <input class="govuk-input govuk-input--width-20" id="uvid" name="uvid" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to find your personal code
            </span>
          </summary>
          <div class="govuk-details__text">
            You can see your code in the 'Manage account' section when you sign in to your Companies House account using the email address you verified with.
          </div>
          <div class="govuk-details__text">
            If your Companies House authorised agent didn't provide us with your email address, we'll have sent your personal code to you by letter.
          </div>
          <div class="govuk-details__text">
            If you can't find your code, you'll need to 
              <a href="https://prove-your-identity-prototype.herokuapp.com/release1-v3/pre-one-login/start?version=general" class="govuk-link" rel="noreferrer noopener" >verify your identity</a> again.
            
          </div>

         

          <div class="govuk-details__text">
            
          </div>
        </details>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
