{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/account-banner.html" %}
{% include "/includes/back-link.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-l">You need to register or sign into GOV.UK One Login</h1>

        <p class="govuk-body">Your verified identity is connected to the email address 
          you used when you did your verification. This is because we need to connect you 
          to your verified account</p>

          <p class="govuk-body">if you verified with an agent use the email address they gave us</p>
      
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
