{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/account-banner.html" %}
{% include "/includes/back-link.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Check for error -->
      {% if errorName %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorName %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="surname">
              What is your verified last name?
            </label>
          </h1>
          <div id="surname-hint" class="govuk-hint">
            We need the same name you verified your identity with so we can find you in our system. If you have changed your name, you can update your records later.  
          </div>
          <!-- Check for error -->
          {% if errorName %}
          <p id="surname-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your last name
          </p>
          {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="surname" name="surname" type="text" aria-describedby="surname-hint">
        </div>
      
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
